<section class="settings homeTop googleIcon1">
  <h3 class="welcome3">New here?</h3>
  <h4 class="welcome3 fade-in">Sign up now!</h4>

  <form action="/signup" method="post">
    <label for="username" class="googleIcon1 welcome3 fade-in">Username:</label>
    <input
      type="text"
      name="username"
      placeholder="Enter username"
      class="fade-in"
    />
    <label for="password" class="googleIcon1 welcome3 fade-in">Password:</label>
    <input
      type="password"
      name="password"
      placeholder="Enter password"
      class="fade-in"
    />
    <button type="submit" class="fade-in">Submit</button>
  </form>
  <div id="back-btn">
    <a href="/" class="googleIcon1 backT fade-in">Back</a>
  </div>
  {{#if msg}}
    <p>{{msg}}</p>
  {{/if}}
</section>