<div id="indexHbs" class="d-flex flex-column align-items-center">
  <div id="indexHbs2" class="p-2"><h3 class="welcome fade-in">Welcome Traveler</h3></div>
  <div class="p-2 fade-in" id="logo-img"><img
      src="/images/logo.png"
      alt="logo"
    />
    <a href="/signup" class="links">Sign Up</a>
    <a href="/signin" class="links">Login</a></div>

</div>